.footer-container {
    background-color: #242424;
    padding: 0rem 0 2rem 0;
    display: flex;
}

.website-rights {
    color: #fff;
    margin: 10px;
    flex: 0 0 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ul > li {
    display: inline-block;
    zoom:1;
    *display:inline;
  }
.footer-links{
    margin: 10px;
    flex: 1;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
}


.footer-links Link:hover {
    border: none;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-input::placeholder {
    color: #b1b1b1;
}

.foot-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 40%;
  }
  
  .foot-links:hover {
    color: black;
    border: #fff solid 1px;
    background: #fff;
    transition: all 0.2s ease-out;
  }

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }
    .footer-input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .footer-link-wrapper {
        flex-direction: column;
    }
    .social-media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {}